# Copyright (c) 2024 Alif Semiconductor
# Copyright (c) 2025 Brilliant Labs
# SPDX-License-Identifier: Apache-2.0

config HALO_BOARD
	bool "HALO (Balletto B1)"
	depends on SOC_SERIES_BALLETTO_B1

if HALO_BOARD

config UART_DMA_ENABLE
	bool
endif

