&mram_storage {
	partitions {
		/delete-node/ partition@0;
                /delete-node/ partition@10000;
                /delete-node/ partition@E2C00;
                /delete-node/ partition@1B5800;
                /delete-node/ partition@1C5800;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(1746)>;
		};

                factory_partition: partition@1B4800 {
			label = "factory-data";
			reg = <0x1B4800 0x1000>;
		};

		storage_partition: partition@1B5800 {
			label = "storage";
			reg = <0x001B5800 DT_SIZE_K(10)>;
		};
	};
};
